@font-face {
    font-family: 'Source Sans Pro';
    font-display: auto;
    font-weight: normal;
    font-style: normal;
    src: url('./Fonts/SourceSansPro/sourcesanspro.woff2') format('woff2'),
        url('./Fonts/SourceSansPro/sourcesanspro.woff') format('woff'),
        url('./Fonts/SourceSansPro/sourcesanspro.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
